body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.column-container {
  display: inline-flex;
  width: -webkit-fill-available;
}

.individual-column {
  width: 98%;
  margin: 3% 1%;
}

.task-line {
  width: 100%;
  padding: 7% 2%;
}

.task-text {
  margin: auto;
}

.right-task-icon {
  cursor: pointer;
  float: right;
}

.left-task-icon {
  cursor: pointer;
  float: left;
}

@media (max-width: 600px) {
  .column-container { display: block; }
}
